# Python/Django dockerignore
.venv/
venv/
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd
build/
dist/
\.mypy_cache/
\.venv/
\.env
env/
\.DS_Store
node_modules/
/.git
/.gitignore
*.egg-info/
*.egg
.idea/
.vscode/
coverage/
pip-wheel-metadata/