version: "3.9"
services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: saas
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  django:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DEBUG: "True"
      SECRET_KEY: dev-secret-change-me
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/saas
      REDIS_URL: redis://redis:6379/1
      TENANT_DEFAULT_SCHEMA_NAME: public
    depends_on:
      - postgres
      - redis
    ports:
      - "8080:8000"
    command: ["sh", "-c", "python manage.py runserver 0.0.0.0:8000"]

  celery:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DEBUG: "True"
      SECRET_KEY: dev-secret-change-me
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/saas
      REDIS_URL: redis://redis:6379/1
      TENANT_DEFAULT_SCHEMA_NAME: public
    depends_on:
      - postgres
      - redis
    command: ["celery", "-A", "saas_backend", "worker", "--loglevel=info"]

volumes:
  pgdata:
